body.dark {
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-800);

    #site-hero {
        background-color: var(--clr-primary-400);
        background-image: url('../../images/vert-line--dark.svg'), 
                          url('../../images/horiz-line--dark.svg'),
                          url('../../images/horiz-line--dark.svg');
    }

    .main-nav--inverse { color: var(--clr-primary-400); }

    .btn--primary {
        background-color: var(--clr-neutral-200);
        color: var(--clr-primary-400);
    }

    .btn--primary-inverse {
        background-color: var(--clr-primary-400);
        color: var(--clr-neutral-200);
    }

    .theme-toggle--default {
        &:checked { border-color: var(--clr-neutral-200); }
        &:checked::before { content: url('../../images/moon.svg'); }
        &:checked::after { background-color: var(--clr-neutral-200); }
    }

    .theme-toggle--inverse {
        border-color: var(--clr-primary-400);
        &::before { content: url('../../images/moon--inverse.svg'); }
        &::after { background-color: var(--clr-primary-400); }
    }


    .fa-bars { color: var(--clr-neutral-200); }
    
    .checkmark-list {
        & > li::before {
            content: url('../../images/check-circle--dark.svg');
        }
    }

    .text-block__svg { color: var(--clr-neutral-600); }

    .testimonial {
        background-color: var(--clr-neutral-600);
        border-top: 4px solid var(--clr-accent-400);
        box-shadow: 0px 8px 23px rgba(174, 176, 179, 0.23);
    }

    .page-header::after { background-color: var(--clr-neutral-200); }
    #contact-header::after { background-color: var(--clr-primary-400); }
   
    .page-header__text-inverse { color: var(--clr-primary-400); }
}