@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {

    --clr-primary-400: hsl(210, 19%, 27%);
    --clr-primary-600: hsl(210, 23%, 18%);
    --clr-primary-800: hsl(208, 41%, 8%);

    --clr-accent-400: hsl(198, 72%, 52%);
    --clr-accent-600: hsl(198, 68%, 25%); // Darkmode Color

    --clr-neutral-200: #F8F9F9;
    --clr-neutral-300: #F2F3F3;
    --clr-neutral-400: #DDE0E2;
    --clr-neutral-500: #BAC0C5;
    --clr-neutral-600: #4A4F4F; // Darkmode Color
    --clr-neutral-700: #181919; // Darkmode Color
    --clr-neutral-800: #121313; // Darkmode Color

    --ff-primary: 'roboto', sans-serif;
    --ff-body: var(--ff-primary);

    --fs-800: 3rem;     // 48px
    --fs-700: 2.5rem;   // 40px
    --fs-600: 2rem;     // 32px
    --fs-500: 1.5rem;   // 24px
    --fs-400: 1.375rem; // 22px
    --fs-300: 1.125rem; // 18px
    --fs-200: 1rem;     // 16px

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --size-600: 2rem;

    --checkmark-circle-color: red;
}

.heading-xl {
    font-size: var(--fs-800);
    line-height: 1.166;
}

.heading-lg {
    font-size: var(--fs-700);
    line-height: 1.2;
}

.heading-md {
    font-size: var(--fs-600);
    line-height: 1.25;
}

.body-copy-lg {
    font-size: var(--fs-500);
    line-height: 1.333;
}

.body-copy-sm {
    font-size: var(--fs-300);
    line-height: 1.333;
}

.body-copy-xsm {
    font-size: var(--fs-200);
    line-height: 1.5;
}

.text-accent-400 { color: var(--clr-accent-400); }
.text-neutral-500 { color: var(--clr-neutral-500); }

.m-bottom-600 { margin-bottom: var(--size-600); }

.text-underline { text-decoration: underline; }

.text-align-center { text-align: center; }
