body.light {

    .theme-toggle--default {
        border-color: var(--clr-primary-400);
        &::before { content: url('/images/sun.svg'); }
        &::after { background-color: var(--clr-primary-400); }
    }

    .theme-toggle--inverse {
        border-color: var(--clr-neutral-200);

        &::before { content: url('/images/sun--inverse.svg'); }

        &::after {
            background-color: var(--clr-neutral-200);
        }
    }

    .main-nav { 
        color: var(--clr-primary-400); 
        @media (max-width: 57em) {
            .main-nav__links {
                background-color: var(--clr-neutral-200);
            }
            .menu-toggle__icon { 
                color: var(--clr-primary-400); 
            }
        }
        
    }
    .main-nav--inverse { 
        color: var(--clr-neutral-200); 
        
        @media (max-width: 57em) {
            .main-nav__links {
                color: var(--clr-primary-400);
            }
            .menu-toggle__icon { 
                color: var(--clr-neutral-200); 
            }
            .btn--primary-inverse {
                background-color: var(--clr-primary-400);
                color: var(--clr-neutral-200);
            }
        }
    }

    

    #site-hero {
    background-color: var(--clr-neutral-200);
    background-image: url('/images/vert-line.svg'), 
                      url('/images/horiz-line.svg'),
                      url('/images/horiz-line.svg');
    }

    #home-main {
        background-color: var(--clr-neutral-300);
    }

    .site-footer {
        background-color: var(--clr-primary-600);
        color: var(--clr-neutral-200);
    }

    .cta-section {
        color: var(--clr-neutral-200);
    }

    .text-block__svg {
        color: #BAC0C5;
    }

    .testimonial {
        background-color: var(--clr-neutral-300);
        border-top: 4px solid var(--clr-accent-400);
        box-shadow: 2px 3px 34px rgba(81, 91, 101, 0.23);
    }

  

    .page-header::after { background-color: var(--clr-primary-400); }
    #contact-header::after { background-color: var(--clr-neutral-400); }

    .page-header__text-inverse { color: var(--clr-neutral-200); }

    /* Input & Textarea Styles */
    input::placeholder,
    textarea::placeholder {
        color: var(--clr-neutral-600);
    }

    input,
    textarea {
        border: 1px solid var(--clr-neutral-600);
    }


}