.text-block {
    margin-bottom: 4rem;

    @media (min-width: 57em) {
        margin-bottom: 3rem;
    }
}

.text-block > h3 {
    margin-block: 1.5rem 1rem;
}



.text-block__desc {
    max-width: 100%;
    @media (min-width: 32em) { max-width: 80%; }
    @media (min-width: 57em) { max-width: 100%; }

}


.text-block--icon {
    @extend .text-block;

    & > img {
        max-width: 56px;
    }
}

.text-block__svg {
    max-width: 56px;
    max-height: 56px;
}
